<?xml version="1.0"?>
<config>
    <modules>
        <Brim_ClickTale>
            <version>1.0.0</version>
        </Brim_ClickTale>
    </modules>
    <global>
        <blocks>
            <brim_clicktale>
                <class>Brim_ClickTale_Block</class>
            </brim_clicktale>
        </blocks>
        <models>
            <brim_clicktale>
                <class>Brim_ClickTale_Model</class>
            </brim_clicktale>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <brim_clicktale>
                    <file>brim_clicktale.xml</file>
                </brim_clicktale>
            </updates>
        </layout>
        <events>
            <controller_front_send_response_after>
                <observers>
                    <brim_clicktale>
                        <type>singleton</type>
                        <class>brim_clicktale/observer</class>
                        <method>saveResponseToCache</method>
                    </brim_clicktale>
                </observers>
            </controller_front_send_response_after>
        </events>
    </frontend>
</config>
